/*I'll provide the styles I used since they're basic, but you'll be making your own in a new app so play around with the attributes */

/* Main background */
.main-container {
    -fx-background-color: #121212;
}

/* numberDisplay */
.display-screen {
    -fx-text-fill: white;
    -fx-alignment: center-right;
    -fx-padding: 0 40px 0 0;
}

/* buttons */
.calc-button {
    -fx-text-fill: white;
    -fx-background-color: #222222;
}
